@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex flex-col min-h-screen justify-center items-center space-y-6;
}

.headline {
  @apply p-2 transition text-transparent bg-clip-text bg-gradient-to-br from-rose-500 to-yellow-500 font-sans font-extrabold text-8xl sm:text-9xl tracking-tight whitespace-nowrap subpixel-antialiased;
}

.github {
  @apply bg-slate-600 hover:bg-slate-700;
}

.linkedin {
  @apply bg-blue-500 hover:bg-blue-600;
}

.blog {
  @apply bg-indigo-500 hover:bg-indigo-600;
}

.cronify {
  @apply bg-pink-500 hover:bg-pink-600;
}

.tile {
  @apply flex flex-row px-5 items-center h-16 w-64 rounded-2xl shadow-md transition active:scale-95;
}

.tile-icon {
  @apply w-8 h-8;
}

.tile-text {
  @apply mx-auto font-sans font-semibold text-2xl text-white align-middle;
}

body * {
  animation-timing-function: ease-out;
  animation-duration: 1s;
  animation-fill-mode: backwards;
}

@keyframes entrance-headline {
  from {
    filter: blur(20px) opacity(0);
    transform: scale(1.5);
  }
  to {
    filter: blur(0) opacity(1);
    transform: scale(1);
  }
}

@keyframes entrance-tile {
  from {
    filter: blur(20px) opacity(0);
    transform: translateY(-20px) scale(0.75);
  }
  to {
    filter: blur(0) opacity(1);
    transform: translateY(0) scale(1);
  }
}

.headline {
  animation-name: entrance-headline;
}

.tile {
  animation-name: entrance-tile;
}

.github {
  animation-delay: 1.5s;
}

.linkedin {
  animation-delay: 1.6s;
}

.blog {
  animation-delay: 1.7s;
}

.cronify {
  animation-delay: 1.8s;
}
